  <div class="jumbotron">
    <h1 class="title">全栈英才</h1>
    <p class="slogan">全栈英才是一个面向拥有全栈技能精英的求职网站。
    <br>
    我们希望大家能够通过这个网站，找到有利于自己职业生涯发展的职位，
    <br>
     别浪费了自己的天份和努力！
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>
  <section id="company">
      <div class = "container-fluid">
        <div class="row">
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="http://ww4.sinaimg.cn/large/006tKfTcgy1feuq5ef993j303k03kgle.jpg" alt="search" >
              <div class="caption">
                <h3>大连市高新区万达广场</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1feuq7xjbdwj303k03kdfl.jpg" alt="bid">
              <div class="caption">
                <h3>info@johnsonmarine.com</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1feuqbaqvtqj303k03k0oc.jpg" alt="heart" >
              <div class="caption">
                 <h3>0411-82288228</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
