
 <div class="col-md-12">
    <div class="row box">
      <div class="box-inner col-md-6 col-md-offset-3">
        <h1 class="title">全栈英才</h1>
        <p class="slogan">全栈英才是一个面向拥有全栈技能精英的求职网站。
         <br>
        希望大家能够通过这个网站，找到有利于自己职业生涯发展的职位，
         <br>
         别浪费了自己的天份和努力！
        </p>
        <p class="lead">
          <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
        </p>
      </div>
    </div>
  </div>

   <div class="content-section-a">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">找工作一定要带手机</h2>
           <p class="lead">要不然就是失联的状态  XDDD</p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>

   <div class="content-section-b">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">一定要把履历写好再投</h2>
           <p class="lead">写履历迷懵时可以参考的地方： <a target="_blank" href="http://blog.niclin.tw">Nic 的 Blog</a>! </p>
         </div>
         <div class="col-lg-5 col-sm-pull-6  col-sm-6">
           <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>

   <div class="content-section-a">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">不用犹豫了<br>动手试试吧</h2>
           <p  class="lead">get新技能的好地方<a target="_blank" href="https://forum.qzy.camp/">全栈营论坛</a></p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>
