
 <div class="col-md-12">
    <div class="row box">
      <div class="box-inner col-md-6 col-md-offset-3">
        <h1 class="title">全栈英才</h1>
        <p class="slogan">全栈英才是一个面向拥有全栈技能精英的求职网站。
         <br>
        希望大家能够通过这个网站，找到有利于自己职业生涯发展的职位，
         <br>
         别浪费了自己的天份和努力！
        </p>
        <p class="lead">
          <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
        </p>
      </div>
    </div>
  </div>
