<div class="col-centered">
  <h1 class="col-centered"> <%= @job.title %> </h1>
  <p class="col-centered">
    <%= simple_format(@job.description) %>
  </p>
  <div>

    城市：
    <%= @job.city %>
  </div>
</div>
