<h1> Add a Post </h1>
<hr>

<%= simple_form_for [@job, @post] do |post| %>

<%= post.input :content %>

  <%= post.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..."}  %>
<% end %>
